<div class="content">
  <div class="title">My Profile</div>
  <div nz-row>
    <div nz-col nzLg="16">
      <form nz-form nzLabelAlign="left" nzNoColon [formGroup]="formGroup">
        <nz-form-item>
          <nz-form-label nzSpan="5">Full Name</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="fullName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="5">NIC</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="nic" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="5">Password</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              formControlName="password"
              type="password"
              autocomplete="new-password"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzSpan="5">Contact No</nz-form-label>
          <nz-form-control>
            <input nz-input type="tel" formControlName="contactDetails" />
          </nz-form-control>
        </nz-form-item>

        <button
          nz-button
          nzType="primary"
          (click)="submit()"
          [nzLoading]="loading"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</div>
