<div class="content">
  <div class="title">Training Programs</div>
  <div nz-row nzJustify="space-between">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        [(ngModel)]="search"
        (ngModelChange)="getFilteredData($event)"
        placeholder="input search text"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <button
      nz-button
      *ngIf="dataService.isAdmin"
      nzType="primary"
      (click)="openAddProgram()"
    >
      Add New Training Program
    </button>
  </div>
  <br />
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Training Program ID</th>
        <th>Image</th>
        <th>Program Name</th>
        <th>Price</th>
        <th>Description</th>
        <th *ngIf="dataService.isAdmin">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.trainingProgramId }}</td>
        <td>
          <img
            nz-image
            width="50px"
            height="50px"
            *ngIf="data.imagePath"
            [nzSrc]="data.imagePath"
            alt=""
          />
        </td>
        <td>{{ data.programName }}</td>
        <td>{{ data.price | number : ".2-2" }}</td>
        <td>{{ data.description }}</td>
        <td *ngIf="dataService.isAdmin">
          <a (click)="openEditProgram(data)"
            ><i class="fa-solid fa-pen-to-square"></i></a
          >&nbsp;
          <a (click)="deleteProgram(data.trainingProgramId)"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
