<form nz-form nzLabelAlign="left" nzNoColon [formGroup]="formGroup">
  <nz-form-item>
    <nz-form-label nzSpan="5">Name</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="programName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5">Price</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="price" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="5">Description</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="description" />
    </nz-form-control>
  </nz-form-item>
  <nz-upload
    class="avatar-uploader"
    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
    nzName="avatar"
    nzListType="picture-card"
    [nzShowUploadList]="false"
    [nzBeforeUpload]="beforeUpload"
    (nzChange)="handleChange($event)"
    [nzMultiple]="false"
  >
    @if (!avatarUrl) {
    <span
      class="upload-icon"
      nz-icon
      [nzType]="loadingImg ? 'loading' : 'plus'"
    ></span>
    <div class="ant-upload-text">Upload</div>
    } @else {
    <img [src]="avatarUrl" style="width: 100%" />
    }
  </nz-upload>
  <button nz-button nzType="primary" (click)="submit()" [nzLoading]="loading">
    Save
  </button>
</form>
