<div class="content">
  <div class="title">Fee Management</div>
  <div nz-row nzJustify="end">
    <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template> -->
    <button nz-button nzType="primary" (click)="makePayment()">
      Make Payment
    </button>
  </div>
  <br />
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>Full Name</th>
        <th>NIC</th>
        <th>Contact Details</th>
        <th>Joined Date</th>
        <th>Training Programs</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.memberId }}</td>
        <td>{{ data.fullName }}</td>
        <td>{{ data.nic }}</td>
        <td>{{ data.contactDetails }}</td>
        <td>{{ data.registrationDate | date : "medium" }}</td>
        <td>
          <ng-container *ngFor="let program of data.selectedTrainingPrograms"
            >{{ program.programName }} <br
          /></ng-container>
        </td>
        <td></td>
      </tr>
    </tbody>
  </nz-table>
</div>
