<div class="content">
  <div class="title">Fee Management</div>
  <div nz-row nzJustify="end">
    <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template> -->
    <button
      nz-button
      nzType="primary"
      *ngIf="dataService.isAdmin"
      (click)="makePayment()"
    >
      Make Payment
    </button>
  </div>
  <br />
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>Full Name</th>
        <th>Payment Month</th>
        <th>Amount</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.memberId }}</td>
        <td>{{ data.memberFullName }}</td>
        <td>{{ data.paymentDate | date : "MMMM" }}</td>
        <td>{{ data.amount | number : ".2-2" }}</td>
        <td>{{ data.dueDate | date : "yyyy-MM-dd" }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
