<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li
        *ngIf="dataService.isAdmin"
        nz-menu-item
        nzMatchRouter
        nzMatchRouterExact
        routerLink="user"
      >
        <span nz-icon nzType="user"></span>
        <span>Users</span>
      </li>
      <li
        *ngIf="dataService.isAdmin"
        nz-menu-item
        nzMatchRouter
        nzMatchRouterExact
        routerLink="program"
      >
        <span nz-icon><i class="fa-solid fa-person-running"></i></span>
        <span>Training Program</span>
      </li>
      <li nz-menu-item nzMatchRouter nzMatchRouterExact routerLink="fees">
        <span nz-icon><i class="fa-solid fa-rupee-sign"></i></span>
        <span>Fee Management</span>
      </li>

      <li
        *ngIf="dataService.isAdmin"
        nz-menu-item
        nzMatchRouter
        nzMatchRouterExact
        routerLink="report"
      >
        <span nz-icon nzType="bar-chart"></span>
        <span>Report</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></span>

      <div class="notification">
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <nz-badge [nzCount]="alerts.length">
            <i class="fa-solid fa-bell"></i>
          </nz-badge>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="bg-white p-2">
            <nz-list nzBordered>
              @if (alerts.length > 0) { @for (item of alerts; track item) {
              <nz-list-item>
                <span nz-typography>{{ item.memberId }}</span>
                {{ item.message }}
              </nz-list-item>
              } }@else {
              <nz-empty></nz-empty>
              }
            </nz-list>
          </div>
        </nz-dropdown-menu>
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
          <i class="fa-solid fa-circle-user"></i>
          <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="bg-white p-2" (click)="logout()">logout</div>
          </nz-dropdown-menu>
        </a>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
